<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bdev.hengschoolteacher">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <application
        android:name=".ui.application.HTApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="adjustResize"
        android:networkSecurityConfig="@xml/network_security_config"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".ui.activities.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.activities.profile.ProfileLessonsActivity"/>
        <activity android:name=".ui.activities.profile.ProfileSalaryActivity"/>
        <activity android:name=".ui.activities.profile.ProfilePaymentsActivity"/>
        <activity android:name=".ui.activities.profile.ProfileDebtsActivity"/>

        <activity android:name=".ui.activities.students.StudentsListActivity"/>
        <activity android:name=".ui.activities.students.StudentsGroupsListActivity"/>

        <activity android:name=".ui.activities.teachers.TeachersListActivity"/>

        <activity android:name=".ui.activities.monitoring.MonitoringLessonsActivity"/>
        <activity android:name=".ui.activities.monitoring.MonitoringTeachersActivity"/>
        <activity android:name=".ui.activities.monitoring.MonitoringStudentsActivity"/>

        <activity android:name=".ui.activities.monitoring.student.MonitoringStudentActivity"/>
        <activity android:name=".ui.activities.monitoring.student.MonitoringStudentMonthAttendanceActivity"/>
        <activity android:name=".ui.activities.monitoring.student.MonitoringStudentMonthPaymentsActivity"/>

        <activity android:name=".ui.activities.monitoring.teacher.MonitoringTeacherLessonsActivity"/>
        <activity android:name=".ui.activities.monitoring.teacher.MonitoringTeacherPaymentsActivity"/>
        <activity android:name=".ui.activities.monitoring.teacher.MonitoringTeacherSalaryActivity"/>
        <activity android:name=".ui.activities.monitoring.teacher.MonitoringTeacherDebtsActivity"/>

        <activity android:name=".ui.activities.student.StudentInformationActivity"/>
        <activity android:name=".ui.activities.student.StudentPaymentActivity"/>

        <activity android:name=".ui.activities.lesson.info.LessonInfoActivity"/>
        <activity android:name=".ui.activities.lesson.status.LessonStatusActivity"/>
        <activity android:name=".ui.activities.lesson.attendance.LessonAttendanceActivity"/>

        <activity android:name=".ui.activities.LoginActivity" android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".ui.activities.LoadingActivity"/>
        <activity android:name=".ui.activities.ReloginActivity"/>
        <activity android:name=".ui.activities.teacher.TeacherActivity"/>

        <activity android:name=".ui.activities.settings.SettingsActivity"/>
    </application>

</manifest>